* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.conteiner {
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 800px;
  background: url("img/mainFoto.jpg") center center/ cover no-repeat;
  padding: 39px 0 62px 0px;
}

.logo_img {
  background-color: #f9bf3b;
  display: block;
  width: 200px;
  margin: 0 auto;
}
.logo_text {
  margin: 14px 193px 15px 191px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.title {
  margin: 24px;
  font-family: Roboto;
  font-size: 41px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #f9bf3b;
}

.button {
  margin-top: 35px;
  display: inline-block;
  background: #2798b9;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}
.input {
  display: inline-block;
  background: #fff;
  padding: 9px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
}

#sum {
  text-align: center;
  font-size: 75px;
  font-weight: 900;
  color: white;
  margin-top: 20px;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 313px;
  height: 50px;
  box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.18);
  border: solid 4px rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #f9bf3b, #3ab6da);
  text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
  color: #fff;
  font-family: Roboto;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  text-transform: uppercase;
  cursor: pointer;
}

.more_text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
.more_img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
